$color-white: hsl(0, 100%, 100%);
$color-black: hsl(0, 0%, 0%);

$_color-sat: 60%;

@function color-grey ($lightness) {
	@return hsl(0, 0%, $lightness * 1%);
}

@function color-blue ($lightness) {
	@return hsl(205, $_color-sat, $lightness * 1%);
}

@function color-green ($lightness) {
	@return hsl(153, $_color-sat, $lightness * 1%);
}

@function color-red ($lightness) {
	@return hsl(355, $_color-sat, $lightness * 1%);
}

@function color-orange ($lightness) {
	@return hsl(29, $_color-sat, $lightness * 1%);
}

@function color-yellow ($lightness) {
	@return hsl(50, $_color-sat, $lightness * 1%);
}
